@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.custom-navbar {
  background-color: #ffe8a3;
}
search
body {
  background-color: #14ae5c;
}

.destination-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.destination-card .card {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
}
.search{
  margin: 20px;
}

.activities-header {
  margin: 20px;
  text-align: center;
}
.card-group{
  margin: 20px;
  flex-direction: column;
  gap: 10px;
}
